{% extends 'base.html.twig' %}

{% block body %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h1 class="jumbotron-heading">Login</h1>

                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <form action="{{ path('user_login') }}" method="post">
                        <div class="form-group">
                            <label for="mail">Email address</label>
                            <input name="_username" value="{{ mail }}" type="email" class="form-control" id="mail" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password" name="_password">
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                        <a href="{{ path("user_registration") }}" class="btn btn-secondary">Register</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}