{% extends 'base.html.twig' %}

{% block body %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h1 class="jumbotron-heading">Register</h1>
                    {{ form_start(form, { attr: { novalidate: 'novalidate'}}) }}
                        {{ form_widget(form) }}
                        <button class="btn btn-primary" type="submit">Register!</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}



