{% extends 'base.html.twig' %}

{% block body %}
    <div class="user py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="jumbotron-heading">Users list</h1>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Mail</th>
                                <th class="text-right">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td class="text-right">
                                    <a class="btn btn-info" href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                                    <a class="btn btn-success" href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
                                    <a class="btn btn-danger" href="{{ path('user_delete', { 'id': user.id }) }}">delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a class="btn btn-primary" href="{{ path('user_new') }}">Create a new user</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
