{% extends 'base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
