{% macro show_status_bis(element) %}
    {{ element.title }}
{% endmacro %}

{% macro show_status(element) %}

    {%  set placesInfo = {
            published : {
                text: "Published",
                color: "success"
            },
            rejected : {
                text: "Rejected",
                color: "danger"
            },
            review :{
                text: "Waiting validation",
                color: "warning"
            }
        }
    %}
    {% for place in workflow_marked_places(element) %}
        {% if placesInfo[place] is defined %}
            <span class="badge badge-{{ placesInfo[place].color }}">
                {{ placesInfo[place].text }}
            </span>
        {% else %}
            Place undefined
        {% endif %}
    {% else %}
        No data
    {% endfor %}
{% endmacro %}