{% extends 'base.html.twig' %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Album Delete</h1>
            {{ form_start(form, { attr: { novalidate: 'novalidate'}}) }}
                {{ form_widget(form) }}
                <p class="lead text-muted">
                    Confirmation for delete album with title: '{{ album.title }}' ?
                </p>
                <p>
                    <input class="btn btn-danger" type="submit" value="Delete" />
                    <a class="btn btn-secondary" href="{{ path('album_index') }}">Cancel</a>
                </p>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
