{% extends 'base.html.twig' %}
{% import '/extra/badge.html.twig' as badge %}

{% block body %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="jumbotron-heading">{{ form_text.title }}</h1>
                    {{ form_start(form, { attr: { novalidate: 'novalidate'}}) }}
                        {{ form_widget(form) }}
                        <input class="btn btn-primary" type="submit" value="{{ form_text.btn }}" />
                        <a class="btn btn-secondary" href="{{ path('album_index') }}">Cancel</a>
                    {{ form_end(form) }}
                </div>
                <div class="col-md-12">
                    <p>
                        {{ badge.show_status(album) }}
                    </p>
                    {% for transition in workflow_transitions(album) %}
                        {% if transition.name != 'update' %}
                            <a class='btn btn-info' href='{{ path('album_transition', {id: album.id, transition: transition.name}) }}'>
                                {{ transition.name }}
                            </a>
                        {% endif %}
                    {% else %}
                        No Action
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
