{% extends 'base.html.twig' %}
{% import '/extra/badge.html.twig' as badge %}

{% block body %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="jumbotron-heading">Albums list</h1>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Content</th>
                                <th>Duration</th>
                                <th>Status</th>
                                <th class="text-right">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for album in albums %}
                            <tr>
                                <td><a href="{{ path('album_show', { 'id': album.id }) }}">{{ album.id }}</a></td>
                                <td>{{ album.title }}</td>
                                <td>{{ album.content }}</td>
                                <td>{{ album.duration }}</td>
                                <td>{{ badge.show_status(album) }}</td>
                                <td class="text-right">
                                    <a class="btn btn-info" href="{{ path('album_show', { 'id': album.id }) }}">show</a>
                                    <a class="btn btn-success" href="{{ path('album_edit', { 'id': album.id }) }}">edit</a>
                                    <a class="btn btn-danger" href="{{ path('album_delete', { 'id': album.id }) }}">delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a class="btn btn-primary" href="{{ path('album_new') }}">Create a new album</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
