{% extends 'base.html.twig' %}

{% block body %}
    <h1>Album</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ album.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ album.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ album.content }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ album.duration }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
